################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Byza/.vs/Byza
/Byza/obj
/DataAccessLayer/obj
/EntityLayer/obj
/ServiceLayer/obj
