@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a asp-controller="Home" asp-action="LoginViewBuyer">Login as buyer</a><br /> <a asp-controller="Home" asp-action="LoginViewSeller">Login as seller</a><br />
        <a asp-controller="Home" asp-action="SignupBuyer">Signup as buyer</a><br /><a asp-controller="Home" asp-action="SignupSeller">Signup as seller</a>
    </p>
</div>
