@using ServiceLayer.ServiceModels
@model ProductRequestModel
<h2>Add Product</h2>

<form asp-action="AddProduct" asp-controller="Product" method="post">


    <div class="mb-3">
        <label>Product Name</label>
        <input asp-for="ProductName" />
    </div>
    <br />

    <div class="mb-3">
        <label>Description</label>
        <input asp-for="Description" />
    </div>
    <br />

    <div class="mb-3">
        <label>Price</label>
        <input type="text" name="Price" />
    </div>
    <br />

    <div class="mb-3">
        <label>Stock Quantity</label>
        <input asp-for="StockQuantity" type="number" />
    </div>
    <br />
    <div class="mb-3">
        <label>Image</label>
        <input type="file" id="imageInput" accept="image/*" required />
        <!-- hidden field jisme base64 jayega -->
        <input type="hidden" name="ProductImage" id="base64Image" />

        @* <input type="file" name="ProductImage" accept="image/*" /> *@
    </div>
    <br />

    <button type="submit" class="btn-outline-primary">Add Product</button>
    <script>
        document.getElementById("imageInput").addEventListener("change", function () {

            var file = this.files[0];
            var reader = new FileReader();

            reader.onload = function () {
                // yeh pura base64 hota hai: data:image/png;base64,xxxx
                document.getElementById("base64Image").value = reader.result;
            };

            reader.readAsDataURL(file);
        });
    </script>
</form>
